<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="control-label" for="nome">Nome</label>
        <input type="text" class="form-control form-control-sm" id="nome">
      </div>

    </div>
    <div class="col">
      <div class="form-group">
        <label class="control-label" for="email">E-mail</label>
        <input type="text" class="form-control form-control-sm" id="email">
      </div>
    </div>
  </div>
</div>

<table id="myTable" class="table table-hover table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
    </tr>
  </thead>
</table>