<div class="container-fluid">
  <div class="row">
    <div class="form-group col-2">
      <strong><label class="control-label" for="codigo">Código</label></strong>
      <input type="text" class="form-control form-control-sm" id="codigo">
    </div>

    <div class="form-group col-4">
      <strong><label class="control-label" for="logradouro">Logradouro</label></strong>
      <input type="text" class="form-control form-control-sm" id="logradouro">
    </div>

    <div class="form-group col-2">
      <strong><label class="control-label" for="bairro">Bairro</label></strong>
      <input type="text" class="form-control form-control-sm" id="bairro">
    </div>

    <div class="form-group col-4">
      <strong><label class="control-label" for="municipio">Município</label></strong>
      <input type="text" class="form-control form-control-sm" id="municipio">
    </div>
  </div>
</div>

<table id="myTable" class="table table-hover table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Código</th>
      <th>Logradouro</th>
      <th>Bairro</th>
      <th>Município</th>
    </tr>
  </thead>
</table>