<h5>
  {{title}}
  <small class="text-muted">{{mode}}</small>
</h5>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <input type="text" class="form-control" id="id" formControlName="id" [(ngModel)]="uf.id" hidden>
  </div>

  <div myFormGroup="sigla" [required]="true">
    <label class="control-label" for="sigla">Sigla</label>
    <input type="text" myFormControl id="sigla" formControlName="sigla" [(ngModel)]="uf.sigla">
    <div invalidMessage>
      <p *invalidType="'required'">Sigla é um campo obrigatório</p>
    </div>
  </div>

  <div myFormGroup="descricao" [required]="true">
    <label class="control-label" for="descricao">Descrição</label>
    <input type="text" myFormControl id="descricao" formControlName="descricao" [(ngModel)]="uf.descricao">
    <div invalidMessage>
      <p *invalidType="'required'">Descrição é um campo obrigatório</p>
    </div>
  </div>

  <div myFormGroup="codigoIbge" [required]="true">
    <label class="control-label" for="codigoIbge">Código IBGE</label>
    <input type="text" myFormControl id="codigoIbge" formControlName="codigoIbge" [(ngModel)]="uf.codigoIbge">
    <div invalidMessage>
      <p *invalidType="'required'">Código IBGE é um campo obrigatório</p>
      <p *invalidType="'maxlength'">Código IBGE deve possuir 2 dígitos</p>
      <p *invalidType="'minlength'">Código IBGE deve possuir 2 dígitos</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Salvar</button>
      <a class="btn btn-secondary" [routerLink]=url>Sair</a>
    </div>
  </div>

</form>