.sidebar {
  height: auto;
  min-height: 120vh;
  min-width: 225px;
  max-width: 225px;
  margin-left: -225px;
  background: #1f1f1f;
  color: #fff;
  transition: all 0.3s;
}

.sidebar.show {
  margin-left: 0px;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .sidebar {
    margin-left: -225px;
  }
  .sidebar.active {
    margin-left: 0;
  }
}