<h5>
  {{title}}
  <small class="text-muted">{{mode}}</small>
</h5>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <input type="text" class="form-control" id="id" formControlName="id" [(ngModel)]="usuario.id" hidden>
  </div>

  <div myFormGroup="nome" [required]="true">
    <label for="nome">Nome</label>
    <input type="text" myFormControl id="nome" formControlName="nome" [(ngModel)]="usuario.nome" autofocus>
    <div invalidMessage>
      <p *invalidType="'required'">Nome é um campo obrigatório</p>
    </div>
  </div>

  <div myFormGroup="email" [required]="true">
    <label for="email">E-mail</label>
    <input type="email" myFormControl id="email" formControlName="email" [(ngModel)]="usuario.email">
    <div invalidMessage>
      <p *invalidType="'required'">E-mail é um campo obrigatório</p>
      <p *invalidType="'email'">E-mail inválido</p>
    </div>
  </div>

  <div myFormGroup="senha" [required]="senhaObrigatoria">
    <label for="senha">Senha</label>
    <input type="password" myFormControl id="senha" formControlName="senha" [(ngModel)]="usuario.senha">
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Salvar</button>
      <a class="btn btn-secondary" routerLink="/usuario/">Sair</a>
    </div>
  </div>


</form>