/* You can add global styles to this file, and also import other style files */
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0em;
    white-space: nowrap;
}

.required:before{
    content:"*";
    font-weight:bold;
    color:red;
}